


<p class="h1">How it works?</p>
<div class="container">
    
    <img src="../assets/Vector 4.png" class="wm1" alt="...">

    <div class=" text-center">
        <img src="../assets/Vector 43.png" class="www" alt="..."></div>
    
<div class="row text-center">
<div class="col-lg-3 col-md-6 col-5"><img src="../assets/Group 21.png" class="im1" alt="...">
    <p class="w1">Scan</p>
<p class="w2">Scan event qr code with mobile </p>
</div>
<div class="col-lg-3 col-md-6 col-5"><img src="../assets/Group 22.png" class="wm2" alt="...">
    <p class="w1">Selfie</p>
    <p class="w2">Upload selfie and enter basic details</p>
</div>
<div class="col-lg-3 col-md-6 col-5"><img src="../assets/Group 23.png" class="im1" alt="...">
    <p class="w1">AI model</p>
    <p class="w2">AI identifies attendees and presents entire image collection.</p>
</div>
<div class="col-lg-3 col-md-6 col-5"><img src="../assets/Group 124.png" class="wm2" alt="...">
    <p class="w1">Share</p>
    <p class="w2">Image can be downloaded on their preferred medium</p>

</div>
</div>
</div>


<!-- 

<div class="tabview">
<p class="h1">How it works?</p>
<div class="container">
    
    <img src="../assets/Vector 4.png" class="wm1" alt="...">

    <div class=" text-center">
        <img src="../assets/Vector 43.png" class="www" alt="..."></div>
    
<div class="row text-center">
<div class="col-lg-3 col-md-6 col-sm-6"><img src="../assets/Group 21.png" class="im1" alt="...">
    <p class="w1">Scan</p>
<p class="w2">Scan event qr code with mobile </p>
</div>
<div class="col-lg-3 col-md-6 col-sm-6"><img src="../assets/Group 22.png" class="wm2" alt="...">
    <p class="w1">Selfie</p>
    <p class="w2">Upload selfie and enter basic details</p>
</div>
<div class="col-lg-3 col-md-6 col-sm-6"><img src="../assets/Group 23.png" class="im1" alt="...">
    <p class="w1">AI model</p>
    <p class="w2">AI identifies attendees and presents entire image collection.</p>
</div>
<div class="col-lg-3 col-md-6 col-sm-6"><img src="../assets/Group 124.png" class="wm2" alt="...">
    <p class="w1">Share</p>
    <p class="w2">Image can be downloaded on their preferred medium</p>

</div>
</div>
</div>
</div> -->