<div class="container dtview1">
    <div class="h1">Pricing</div>
    <div class="text-center">
        <div class="">
            <button class="button1" type="submit">Yearly</button>
            <button class="button2" type="submit">Monthly</button>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <div class="sbox1">
                <div class="sbox11"></div>

                <p class="prt1">Starter</p>
                <p class="prt2">$100</p>
                <ul class="text-center">
                    <li class="pl1">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                </ul>
                <div class="text-center">
                    <button class="button11" type="submit">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            
            <div class="sbox111">
                <div class="obx1">Most Popular</div>
                <div class="sbox1111"></div>

                <p class="prt11">Team Pack</p>
                <p class="prt2">$250</p>
                <ul class="text-center">
                    <li class="pl11">Lorem Ipsum</li>
                    <li class="pl22">Lorem Ipsum</li>
                    <li class="pl22">Lorem Ipsum</li>
                    <li class="pl22">Lorem Ipsum</li>
                    <li class="pl22">Lorem Ipsum</li>
                </ul>
                <div class="text-center">
                    <button class="button111" type="submit">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="sbox1">
                <div class="sbox11"></div>

                <p class="prt1">Premium</p>
                <p class="prt2">$400</p>
                <ul class="text-center">
                    <li class="pl1">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                    <li class="pl2">Lorem Ipsum</li>
                </ul>
                <div class="text-center">
                    <button class="button11" type="submit">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container dtview">
    <div class="h1">Pricing</div>
    <div class="text-center">
        <div class="">
            <button class="button1" type="submit">Yearly</button>
            <button class="button2" type="submit">Monthly</button>
        </div>

    </div>

    <div class="row">
     
        <div class="col-12">
             <splide [options]="{ type   : 'loop', perPage: 1
      , arrows: false}"> 
            <splide-slide>
                
                <div class="sbox111">
                    <div class="obx1">Most Popular</div>
                    <div class="sbox1111"></div>
    
                    <p class="prt11">Team Pack</p>
                    <p class="prt2">$250</p>
                    <ul class="text-center">
                        <li class="pl11">Lorem Ipsum</li>
                        <li class="pl22">Lorem Ipsum</li>
                        <li class="pl22">Lorem Ipsum</li>
                        <li class="pl22">Lorem Ipsum</li>
                        <li class="pl22">Lorem Ipsum</li>
                    </ul>
                    <div class="text-center">
                        <button class="button111" type="submit">Get Started</button>
                    </div>
                </div>
                 </splide-slide>
                 <splide-slide>
                    <div class="sbox1">
                        <div class="sbox11"></div>
        
                        <p class="prt1">Starter</p>
                        <p class="prt2">$100</p>
                        <ul class="text-center">
                            <li class="pl1">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                        </ul>
                        <div class="text-center">
                            <button class="button11" type="submit">Get Started</button>
                        </div>
                    </div>
              
               </splide-slide>    <splide-slide>
                    <div class="sbox1">
                        <div class="sbox11"></div>
        
                        <p class="prt1">Premium</p>
                        <p class="prt2">$400</p>
                        <ul class="text-center">
                            <li class="pl1">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                            <li class="pl2">Lorem Ipsum</li>
                        </ul>
                        <div class="text-center">
                            <button class="button11" type="submit">Get Started</button>
                        </div>
                    </div>
               </splide-slide>
            </splide>
                </div>
          
           </div>

    </div>

