
<div class="container">
    <div class="h1">AI heading</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-12 "><img src="../assets/1gif.gif" class="aim1" alt="...">
        <img src="../assets/Group 26.png" class="aim2" alt="..."></div>
    <div class="col-lg-6 col-md-12 "> 
        <p class="aiw1">Advanced AI</p>
        <p class="aiw2">Lorem ipsum dolor sit amet consectetur. Quis aliquam nec lorem neque. Nisl sit elementum malesuada sit dui tincidunt mi. Nibh aenean vitae sociis diam adipiscing.Lorem ipsum dolor sit amet consectetur. </p>
        <p class="aiw11">Smart Image Sharing</p>
        <p class="aiw2">Lorem ipsum dolor sit amet consectetur. Quis aliquam nec lorem neque. Nisl sit elementum malesuada sit dui tincidunt mi. Nibh aenean vitae sociis diam adipiscing.</p>
    </div>


</div>

</div>