<div class="container dtview1">
    <div class="h1">Our user say</div>
    <splide [options]="{ type   : 'loop',
    padding: '25rem', arrows: false}">
        <splide-slide>
            <div class="bb1">
                <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
                <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
                <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
            </div>
        </splide-slide>
        <splide-slide>
            <div class="bb1">
                <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
                <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
                <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
            </div>
        </splide-slide>
      <splide-slide>
        <div class="bb1">
            <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
            <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
            <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
        </div>
        </splide-slide>
    </splide>

</div>

<!-- 992 - 1500 -->
<div class="container dtview2">
    <div class="h1">Our user say</div>
    <splide [options]="{ type   : 'loop',
    padding: '15rem', arrows: false}">
        <splide-slide>
            <div class="bb1">
                <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
                <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
                <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
            </div>
        </splide-slide>
        <splide-slide>
            <div class="bb1">
                <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
                <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
                <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
            </div>
        </splide-slide>
      <splide-slide>
        <div class="bb1">
            <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
            <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
            <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
        </div>
        </splide-slide>
    </splide>

</div>


<div class="container landscape">
    <div class="h1">Our user say</div>
    <splide [options]="{ type   : 'loop',
    perPage : '1', arrows: false}">
        <splide-slide>
            <div class="bb1">
                <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
                <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
                <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
            </div>
        </splide-slide>
        <splide-slide>
            <div class="bb1">
                <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
                <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
                <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
            </div>
        </splide-slide>
      <splide-slide>
        <div class="bb1">
            <div class="text-center"> <img class="img1" src="../assets/Frame 20.png" alt="" /></div>
            <p class="y1">“ Lorem ipsum dolor sit amet consectetur. Non diam mi ipsum cursus ornare.”</p>
            <p class="y2">Mr. John Doe - CEO (lorem Ipsum)</p>
        </div>
        </splide-slide>
    </splide>

</div>
<br><br><br><br><br>