

<br>
<br>
<br>
<div class="container r1">
    <div class="row">
        <div class="col-lg-6 col-md-12 ">
 
            <p class="home1">Seamless Joy  Instant <span class="tc">Memories</span></p>
            <p class="hb">we've dedicated ourselves to revolutionizing event photo management, ensuring that every attendee can effortlessly receive and relive their cherished memories.</p>
            <div class=" tt1"><button class="button1" type="submit"><span class="box1">Get Started</span></button> <img src="../assets/star.gif" class="im1" alt="..."></div>           
        </div>
        
        <div class="col-lg-6 col-md-12 " data-aos="fade-left"><img src="../assets/Group 25.png" class="imagehome" alt="..."></div>
    </div>
  </div>
  
  